<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you! We have received your mesage and will respond as soon as we can!</p>
		<a href="#">Home</a>
	</div><!--end PANEL BODY div-->
</div><!--end PANEL div-->