<body>
	<div class="container">
		<div class="row">
			<div class="col_lg_6 col-xs-12">
				<p>Thank you for your purchase!</p>
				<p>
					<%= flash[:success] unless flash[:success].blank? %>
					<%= flash[:error] unless flash[:error].blank? %>
			</div>
		</div>
	</div>
</body>